services:
  opencloud:
    environment:
      IDP_DOMAIN: ${IDP_DOMAIN}
      OC_OIDC_ISSUER: ${IDP_ISSUER_URL}
      WEB_OIDC_CLIENT_ID: ${OC_OIDC_CLIENT_ID}
      WEBFINGER_WEB_OIDC_CLIENT_ID: ${OC_OIDC_CLIENT_ID}
      WEBFINGER_ANDROID_OIDC_CLIENT_ID: ${OC_OIDC_CLIENT_ID}
      WEBFINGER_IOS_OIDC_CLIENT_ID: ${OC_OIDC_CLIENT_ID}
      WEBFINGER_DESKTOP_OIDC_CLIENT_ID: ${OC_OIDC_CLIENT_ID}
      WEB_OIDC_SCOPE: "openid profile email groups offline_access" # Offline access prevents logouts as soon as the access token expires.
      OIDC_REDIRECT_URI: https://${OC_DOMAIN:-cloud.opencloud.test}

      OC_EXCLUDE_RUN_SERVICES: "idp"

      PROXY_OIDC_REWRITE_WELLKNOWN: "true"
      PROXY_AUTOPROVISION_ACCOUNTS: "true"
      PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: "none"
      PROXY_OIDC_SKIP_VERIFICATION: "false"

      PROXY_USER_OIDC_CLAIM: "preferred_username"
      PROXY_AUTOPROVISION_CLAIM_USERNAME: "preferred_username"

      PROXY_ROLE_ASSIGNMENT_DRIVER: "oidc"
      PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: "groups"

      GRAPH_ASSIGN_DEFAULT_USER_ROLE: "false"
      GRAPH_USERNAME_MATCH: "none"
    volumes:
      - ./config/opencloud/proxy.yaml:/etc/opencloud/proxy.yaml # <-- This adds the proxy file defining group to role mappings
