#!/bin/bash

set -euo pipefail

pushd $(dirname $0) >/dev/null

{% for repo in backup_restic_repositories %}
# START {{ repo.repository_url }}
source .env.{{ repo.name }}

{% if backup_docker_postgres is defined %}
docker compose exec {{ backup_docker_postgres.service }} pg_dumpall --clean --if-exists --username={{ backup_docker_postgres.username }} > {{ backup_docker_postgres.file|default("database.sql",true) }}
{% endif %}
{% if backup_docker_mariadb is defined %}
docker compose exec {{ backup_docker_mariadb.service }} /usr/bin/mariadb-dump -u {{ backup_docker_mariadb.username }} -p"$DB_PASSWORD" bookstack > {{ backup_docker_mariadb.file|default("database.sql",true) }}
{% endif %}

if ! restic cat config >/dev/null 2>&1; then
    # Restic automatically does `mkdir -p` if necessary
    restic init
fi

restic backup {{ backup_folders | join(" ") }}
restic forget --keep-last {{ backup_retention | default(30) }} --prune
# END {{ repo.repository_url }}

{% if backup_docker_postgres is defined %}
# Delete the database dump file after backup
rm -f {{ backup_docker_postgres.file|default("database.sql",true) }}
{% endif %}
{% if backup_docker_mariadb is defined %}
# Delete the database dump file after backup
rm -f {{ backup_docker_mariadb.file|default("database.sql",true) }}
{% endif %}

{% endfor %}
popd >/dev/null
